body {
    background-color: #173937;
    color: white;
    font-family: "Book Antiqua", serif;
}

.paragraph{
    color: #b487fc;
    font-size: 30px;
}
.paragraph::first-letter{
    font-size: 45px;
}
p > span {
    color: #e5d394;
}

.imdbstyle {
    color: #ff6025;
}
.imdbstyle:link{
    text-decoration: none;
}
.imdbstyle:hover{
    color: #fff78b;
    text-decoration: underline;
}

.moodphotos {
    width: 160px;
    height: 100px;
}

.italicwords {
    font-style: italic;
    text-align: center;
}
.validatorphotos{
    width: 100px;
    height: 35px;
}
.orderedlist{
    list-style-type: decimal;
    display: flex;
    flex-direction: column-reverse;
}
.movieinfo{
    color: #fc8eb7;
    list-style-type: none;
    margin-left: -40px;
}
li li{
    font-family: "Courier New", serif;
    color: white;
    list-style-type: none;
}